<header>
    <nav class="nav-bar">
        <div class="logo">
            <img src="#" alt="">
            <h2 class="logo-text">Linquetdin</h2>
        </div>
        <div class="socials">
            <ul class="social-media">
                <li>
                    <a href="#"><i class='bx bxl-facebook-square'></i></a>
                    <a href="#"><i class='bx bxl-instagram' ></i></a>
                    <a href="#"><i class='bx bxl-twitter' ></i></a>
                </li>
            </ul>
            <ul class="lgn-btn">
                <li><a href="#">LOGIN</a></li>
            </ul>
        </div>            
    </nav>
</header>
