<main>
    <div class="top-head">
        <div class="banner">
            <img src="../../../assets/img/banner.jpg" alt="Banner">
        </div>

        <div class="profile">
            <img src="../../../assets/img/profile-img.jpg" alt="Profile">
        </div>

        <div class="profile-info">
            <h1 class="name">Francisco M.Linquet</h1>
            <p class="title">Programador WEB Fullstack Jr.</p>
            <p class="location">Pergamino, Buenos Aires(Argentina)</p>
        </div>
    </div>

    <!-- <hr> -->

    <div class="about">
        <div class="about-us">
            <h2>Acerca de</h2>
            <p>Programador WEB Fullstack Jr, Python Developer.</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus, corporis.</p>
        </div>
    </div>

    <!-- <hr> -->

    <div class="exp">
        <div class="experiencia">
            <h2 class="exp-title">Experiencia</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad minima hic laudantium et aliquam impedit maiores at adipisci incidunt ab.</p>
        </div>
        <div class="study">
            <h2 class="study-title">Educación</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae repellendus soluta adipisci hic obcaecati minus.</p>
        </div>
    </div>

    <!-- <hr> -->

    <div class="skills">
        <h2 class="hard-soft-skills">Hard Skills & Soft Skills</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem, et!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, at.</p>
    </div>

    <!-- <hr> -->

    <div class="projects">
        <h2 class="projects-title">Proyectos</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima libero, accusamus, laudantium eos tempora est culpa dolorum aspernatur quo veritatis rerum ipsam rem? Cupiditate aliquid dolorem numquam ex pariatur consequuntur ipsum, voluptatum ipsa, possimus nisi voluptates debitis dolor fuga unde aspernatur cumque laborum omnis illum expedita! Sit molestiae modi earum.</p>
    </div>
</main>